/********************************************************************************
								VARIABLES
********************************************************************************/

$df-color 		: #BADA55;
$df-background 	: #F00;
$df-font-size	: 3em;